*.db
*.db-journal
*.local
.cta.json
.dockerignore
.env
.env.*
.git
.gitignore
.nitro
.output
.playwright-cli
.qoder
.tanstack
.vscode
AGENTS.md
dist
docker-compose.yml
Dockerfile
leetcode
node_modules
README.md
src/generated
todos.json
